<div class="col-md-4 offset-md-4">
  <div class="card">
    <div class="card-header bg-primary text-white text-center">
      Log in
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <input type="text" name="usuario" [(ngModel)]="usuario" placeholder="username" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="Nombre" [(ngModel)]="nombre" placeholder="Nombre" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="password" name="pass" [(ngModel)]="password" placeholder="password" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <div class="profile-img">
              <img src="{{src}}" alt=""/>
              <div class="file btn btn-lg btn-primary">Seleccionar foto<input type="file" (change)="fileChange($event)" accept="image/*"/></div>
          </div>
      </div>
        <button type="button" class="btn btn-info btn-block" (click)=Create()>
          Sign Up  <i class="fas fa-sign-in-alt"></i>
        </button>
        Or
        <button type="button" class="btn btn-info btn-block" routerLink="/">
          Sign In  <i class="fas fa-sign-in-alt"></i>
        </button>
      </form>
    </div>
  </div>
</div>
