<div class="col-md-4 offset-md-4">
    <div class="card">
        <div class="card-header bg-primary text-white text-center">
                Log in
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" name="usuario" [(ngModel)]="usuario" placeholder="username" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <input type="password" name="pass" [(ngModel)]="pass" placeholder="password" class="form-control" autofocus>
                </div>
                <button type="button" class="btn btn-info btn-block" (click)=sesion()>
                    Sign in  <i class="fas fa-sign-in-alt"></i> 
                </button>
            </form>
        </div>
    </div>
</div>
